{% extends 'iincorewebBundle::layout.html.twig' %}

{% block title 'Our Clients' %}


{% block body %}
    {{ parent() }}

    <section class="slice bg-3" style= "padding-top: 80px; padding-bottom: 60px">
        <div class="work-section inverse">
            <div class="container">
                <div class="pg-opt pin">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <h2>Our Work</h2>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
            <div class="container" style= "padding-top:30px">
                <div class="row">
                    <div class="col-md-4">
                        <img src="{{ asset('bundles/iincoreweb/images/simplefi.png') }}">
                    </div>

                    <div class="col-md-4">

                        <h3 class="section-title">SimpleFi</h3>
                        <p>
                           SimpleFi is an Innovative solution to provide a financial safety net for employees and create value for employers. It also
                            provides practical education to help members solve debt problems and improve their credit.
                        </p>
                        <p>
                            SimpleFi provides accessible and affordable loans for emergencies and clearing expensive problem debts
                        </p>
                    </div>


                    <div class="col-md-4">
                        <div class="vertical-info" style="padding-top: 30px">
                            <h4>Category</h4>
                            <p class="delimiter">
                                US Finance
                            </p>

                            <h4>Website</h4>
                            <p class="delimiter">
                                www.simplefi.org
                            </p>
                            <h4>Technoligies used</h4>
                            <p class="delimiter">
                               Spring MVC, Java EE 6 Web (Servlet 3/JAX-RS), Hibernate ORM, Thymeleaf, Drools, Spring Security,

                            </p>

                        </div>


                    </div>

                </div>



            </div>
            <div class="container" style= "padding-top: 80px">
                <div class="row">
                    <div class="col-md-4">
                        <img src="{{ asset('bundles/iincoreweb/images/collegefeed.png') }}">
                    </div>

                    <div class="col-md-4">

                        <h3 class="section-title">Collegefeed</h3>
                        <p>
                            collegefeed is an early career marketplace that provides college students and grads effective and efficient access to the network they need to kickstart their careers.

                        </p>
                        <p>
                            Collegefeed is on a  mission to make college / higher education economically viable by “10X improving” the quality, speed, cost and efficiency of the connection between college students, employers, alums and industry insiders
                        </p>
                    </div>


                    <div class="col-md-4">
                        <div class="vertical-info" style="padding-top: 30px">
                            <h4>Category</h4>
                            <p class="delimiter">
                                Education, Protfolio Management, Web Development, Quality Assurance
                            </p>

                            <h4>Website</h4>
                            <p class="delimiter">
                                www.collegefeed.com
                            </p>

                            <h4>Technoligies </h4>
                            <p class="delimiter">
                                jQuery, HTML 5, CSS 3, Bootstrap, PHP 5, Symfony 2.1, Manual Testing, Load/ Performance testing,
                                Apache jMeter, Selenium, Behat
                            </p>

                        </div>


                    </div>

                </div>



            </div>
            <div class="container" style= "padding-top: 80px">
                <div class="row">
                    <div class="col-md-4">
                        <img src="{{ asset('bundles/iincoreweb/images/pixel.png') }}">
                    </div>

                    <div class="col-md-4">

                        <h3 class="section-title">Pixel Reveal Project</h3>
                        <p>
                            The Celebrity Male Role Model Pixel Reveal campaign is an innovative charity crowdfunding campaign that will raise US$1 million for the National Coalition Against Domestic Violence and The Pixel Project to fund their work to stop violence against women (VAW).
                        </p>

                    </div>


                    <div class="col-md-4">
                        <div class="vertical-info" style="padding-top: 30px">
                            <h4>Category</h4>
                            <p class="delimiter">
                                Social, NGO
                            </p>

                            <h4>website</h4>
                            <p class="delimiter">
                                http://reveal.thepixelproject.net/
                            </p>

                            <h4>Technoligies used</h4>
                            <p class="delimiter">
                                Wordpress, PHP, HTML 5, CSS 3, Razoo Integration, MySql
                            </p>

                        </div>


                    </div>

                </div>
            </div>
       </div>
    </section>



{%block footer %}
    {{ parent() }}}
{% endblock %}
{% endblock %}