{% extends 'iincorewebBundle::layout.html.twig' %}
{% block title 'Contact Us' %}


{% block body %}
    {{ parent() }}
    <section style="padding-top: 150px">
        <div class="c-section inverse">
            <div class="container" style="padding-bottom: 40px">
                <div class="row">
                    <div class="col-md-7">
                        <h3 class="section-title">Get Connected</h3>
                        <p>
                            We would be glad to have a chat wiht you. Please fill in the form and give us 1 business day to get
                            back to you.
                        </p>
                        {% for label, flashes in app.session.flashbag.all %}
                            {% for flash in flashes %}
                                <div class="alert alert-{{ label }}">
                                    {{ flash }}
                                </div>
                            {% endfor %}
                        {% endfor %}
                        <form  class="form-light mt-20" id="contact" name="contact" role="form" action="{{ path('sendContactEmail') }}" method="post">
                            <div class="form-group">
                                <label>Name</label>
                                <input type="text" name="name" id="name" class="form-control" placeholder="Your name" required>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Email</label>
                                        <input type="email" name="email" id="email" class="form-control" placeholder="Email address" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Phone</label>
                                        <input type="text" name = "phone" id="phone" class="form-control" placeholder="Phone number" required>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Subject</label>
                                <input type="text" name="subject" class="form-control" id="subject" placeholder="Subject" required>
                            </div>
                            <div class="form-group">
                                <label>Message</label>
                                <textarea class="form-control" name="message"  id="message" placeholder="Write you message here..." style="height:100px;" required></textarea>
                            </div>
                            <button type="submit" class="btn btn-two">Send message</button>

                    </div>

                    <div class="col-md-5">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d50695.757203252026!2d-122.13534999999999!3d37.42565!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808fb07b9dba1c39%3A0xe1ff55235f576cf!2sPalo+Alto%2C+CA!5e0!3m2!1sen!2sin!4v1395232508644" width="450" height="350" frameborder="0" style="border:0"></iframe>

                        <div class="row" style="padding-top: 30px;">
                            <div class="col-sm-6">

                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="subsection">
                                <h3 class="section-title">Stay connected</h3>

                                <div class="social-icons">
                                    <a href="https://www.facebook.com/iincore" target="_blank"><i class="fa fa-facebook facebook"></i></a>
                                    <a href="https://plus.google.com/108294851715830820726/about?hl=en-GB"><i class="fa fa-google-plus"></i></a>
                                    <a href="https://twitter.com/iincore" target="_blank"><i class="fa fa-twitter twitter"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        </div>

    </section>



{%block footer %}
    {{ parent() }}}
{% endblock %}
{% endblock %}